<div class="background-container">
<div class="content">
    <div class="content-left">
        <div class="image-section">
            <img src="/assets/img/13. Foto.png" alt="">
        </div>
    </div>
    <div class="content-right">
        <div class="above-contentbox">
            <p>Who I Am</p>
            <div class="content-section"> 
                <h2>About me </h2>
                <p>Hi, I’m a german speaking Frontend Developer based in Munich. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.</p>
                <div class="icon-text">
                    <div class="iconbox"><img src="/assets/img/location_on.png" alt="" class="icon"></div>
                    <div class="spanbox"><span>Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.</span></div>
                </div>
                <div class="icon-text">    
                    <div class="iconbox"><img src="/assets/img/cognition.png" alt="" class="icon"></div>
                    <div class="spanbox"><span>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</span></div>
                </div>
                <div class="icon-text">    
                    <div class="iconbox"><img src="/assets/img/new_releases.png" alt="" class="icon"></div>
                    <div class="spanbox"><span>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.</span></div>
                </div>
            </div>
        </div>
    </div>  

</div>
</div>