<nav class="nav-bar">
    <div class="language-toggle">
        <button
          [class.selected]="selectedLanguage === 'de'"
          (click)="selectLanguage('de')"
        >
          DE
        </button>
        <button
          [class.selected]="selectedLanguage === 'en'"
          (click)="selectLanguage('en')"
        >
          EN
        </button>
    </div>
    <div class="links-on-portfolio "> <li><a href="#about-me" class="link-text about-me">About Me</a></li></div>
    <div class="links-on-portfolio "><li><a href="#skill-set" class="link-text skill-set">Skills</a></li></div>
    <div class="links-on-portfolio "> <li><a href="#projects" class="link-text projects">Projects</a></li></div>
  </nav>
  
