<nav class="nav-bar">
    <div class="language-toggle">
        <button
          [class.selected]="selectedLanguage === 'de'"
          (click)="selectLanguage('de')"
        >
          DE
        </button>
        <button
          [class.selected]="selectedLanguage === 'en'"
          (click)="selectLanguage('en')"
        >
          EN
        </button>
    </div>
    <div class="links-on-portfolio "> 
      <li class="about-me"><a href="#about-me" class="link-text">About Me</a></li>
      <li class="skill-set"><a href="#skill-set" class="link-text">Skills</a></li>
      <li class="projects"><a href="#projects" class="link-text">Projects</a></li>
      </div>
  </nav>
  
