<div class="background-container">
    <div class="content">
        <div class="skill-set-txt">
            <h2>Technologies</h2>
            <div class="card">
                <h1>Skill Set</h1>
                <div class="txt">
                <p>My journey has involved working on diverse projects, employing a range of frontend technologies and concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and stay ahead in the ever-evolving landscape of web development.</p>
                <h3>You need another skill?</h3>
                <span>Feel free to contact me. I look forward to expanding on my previous knowledge.</span>
                </div>
                <button class="animated-button" >
                    <p class="button-text" data-text="Contact me">Let´s Talk</p>
                  </button>
            </div>

        </div>
        <div class="skill-set-icon">

            <!-- @for (item of skills; track $index) {} -->

        </div>
    </div>
</div>
