  <div class="background-container">
    <div class="headline-button-box">
      <h1 class="headline">Frontend Developer
        <span>Oliver John</span></h1>
      <div class="main-page-buttons">
        <button class="animated-button" >
          <p class="button-text" data-text="Check my Work">Check my Work</p>
        </button>
        <button class="animated-button" >
          <p class="button-text" data-text="Contact me">Contact me</p>
        </button>
      </div>
    </div>
    <div class="banner">ich bin das banner 

    </div>
    <div class="vector-left">
      <img src="/assets/img/Vector 1.svg" alt="">
    </div>
    <div class="vector-right">
      <img class="git-main-page" src="/assets/img/git-main-page.png" alt="git">
      <img class="linkedin-main-page" src="/assets/img/linkedin-main-page.png" alt="linkedin">
      <img src="/assets/img/Vector 1.svg" alt="">
    </div>
  </div>