  <div class="background-container">
    <div class="headline-button-box">
      <h1 class="headline">Frontend Developer
        <span>Oliver John</span></h1>
      <div class="main-page-buttons">
        <button class="animated-button" >
          <p class="button-text" data-text="Check my Work">Check my Work</p>
        </button>
        <button class="animated-button" >
          <p class="button-text" data-text="Contact me">Contact me</p>
        </button>
      </div>
    </div>
    <div class="banner"></div>
    <div class="vector-left"></div>
    <div class="vector-right"></div>
  </div>