<div class="background-container">
    <div class="content">
        <div class="headlines">
            <h3>Portfolio</h3>
            <h1>Featured Projects</h1>
        </div>
        <span class="infotext">
            Explore a selection of my work here - Interact with <br>
            projects to see my skills in action.
        </span>
        <div class="projects">
            <div class="single-project">
                <div class="project-head">
                    <h2>Join</h2>
                </div>
                <div class="project-code-types">
                    <h4>Angular | TypeScript | HTML | CSS | Firebase</h4>
                </div>
            </div>
            <div class="single-project">
                <div class="project-head">
                    <h2>El Pollo Loco</h2>
                </div>
                <div class="project-code-types">
                    <h4>HTML | CSS | JavaScript</h4>
                </div>
            </div>
        </div>
    </div>
</div>