@use './../../shared' as *
section
  .contact-wrapper
    background: black
    padding: 0px var(--outer_padding) 96px
    display: flex
    flex-direction: column
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59) 0%, #000000 100%)
    gap: 40px
    max-width: 1440px
    justify-self: center
    @media screen and ( min-width: 1024px )
        gap: 20px
        flex-direction: row
        align-items: center


    .left-wrapper
      display: flex
      flex-direction: column
      gap: 40px

      .title-container
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 20px

        .title-contact-me
          font-size: 24px
          color: #3DCFB6
          font-family: "Karla-Light"

        .title-work-together
          font-size: 64px
          color: #3DCFB6
          font-family: "FiraCode-Bold"
          font-weight: bold

      .got-a-problem-container
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 16px

        .got-a-problem
          font-size: 24px
          color: #3DCFB6
          font-family: "FiraCode-Bold"

        .contact-through-form,
        .need-dev,
        .lets-talk
          font-size: 16px
          color: #FFFFFF
          font-family: "Karla-Light"

        .contact-through-form
          text-align: justify

        .need-dev-container


          .lets-talk
            color: #3DCFB6
            font-weight: bold
            font-family: "Karla-Regular"

    .right-wrapper
      height: 560px
      gap: 40px
      display: flex
      justify-content: center
      align-items: center
      // background-color: #fff;
      

      .contact-form-container
        > form
          display: flex
          flex-direction: column
          height: 560px
          gap: 12px
         

          .contact-form-top-wrapper
            width: 100%
            height: auto
            display: flex
            flex-direction: column

            .your-name-container,
            .your-email-container,
            .how-can-i-help-container
              width: 100%
              height: 136px
              border: 1px solid #3DCFB680
              border-left: 0px
              border-right: 0px
              display: flex
              flex-direction: column
              gap: 10px
              padding: 16px

              &:hover
                border-color: #3DCFB6

              .your-name,
              .your-email,
              .how-can-i-help
                font-size: 24px
                color: #3DCFB6
                font-family: "FiraCode-Medium"

              .your-name-input,
              .your-email-input,
              .how-can-i-help-input
                font-size: 18px
                font-family: "Karla-Light"
                color: #FFFFFF
                outline: none
                border: none
                background-color: transparent

                &::placeholder
                  color: #FFFFFFCC

              .how-can-i-help-input
                min-width: 200px
                max-width: 568px
                min-height: 48px
                max-height: 200px

              .your-name-required,
              .your-email-required,
              .how-can-i-help-required
                font-size: 18px
                font-family: "Karla-Light"
                color: #EC7B7BCC
                display: none

            .how-can-i-help-container
              height: auto
              max-height: 336px

          .contact-form-bottom-wrapper
            display: flex
            flex-direction: column
            gap: 16px

            .privacy-policy-container
              display: flex
              flex-direction: column

              .check-privacy-policy-container
                display: flex
                align-items: center
                gap: 8px

                .checkbox-container
                  display: flex
                  align-items: center
                  cursor: pointer

                  .privacy-policy-checkbox
                    width: 0
                    height: 0
                    opacity: 0

                .text-container
                  display: flex
                  flex-wrap: wrap
                  gap: 4px
                  width: auto
                  cursor: default

                  .privacy-policy-text
                    font-family: "Karla-Light"
                    font-size: 15px
                    color: #FFFFFF

                  .privacy-policy
                    font-family: "FiraCode-Light"
                    font-size: 15px
                    color: #3DCFB6

                    &:hover
                      color: #FFFFFF

              .privacy-policy-required
                font-family: "Karla-Light"
                font-size: 14px
                color: #EC7B7B
                display: none

            .submit-container
              width: 100%
              display: flex
              justify-content: center
              align-items: center

              .submit-btn
                width: 140px
                height: 48px
                margin-top: 24px
                background-color: transparent
                font-family: "Karla-Light"
                font-size: 18px
                color: #FFFFFFCC
                border: 1px solid #FFFFFF80
                border-radius: 24px
                cursor: pointer